<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <meta name="description" content="Интерент провайдер Fast Telecom">
    <link rel="icon" href="/static/img/logo_img.svg" type="image/png" sizes="32x32">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap" rel="stylesheet">

    <link rel="stylesheet/less" type="text/css" href="/static/css/main.less" />
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>

</head>
<body class="max-width">
{% include 'components/navbar.html' %}
</body>
</html>