<div class="navbar">
    <div class="icon-span">
        <img src="/static/img/bx_map.svg" alt="">
        <span>Красноярск</span>
    </div>
        <div class="icon-span">
            <img src="/static/img/Mask%20Group.svg" alt="">
            <select>
                <option value="1">Россия</option>
                <option value="2">Китай</option>
            </select>
        </div>
</div>
<div class="navbar-menu">
    <img src="/static/img/logo.png" alt="">
    <div class="menu">
        <a href="">Главная</a>
        <a href="">О нас</a>
        <a href="">Карта покрытия</a>
        <button>Личный кабинет</button>
    </div>
</div>
